{{ define "main" }}
<div class="section">
  <div class="columns is-centered">
    <div
      class="flex text-purple-900 is-1"
      style="font-size: 4em;"
    >
      <span><</span>
      <span>
          <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.com/svgjs"
        viewBox="0 0 100 100"
        height="100"
        width="100"
      >
        <title>THIS IS A 🦌 RENNE TAG</title>
        <g transform="matrix(4.166666666666667,0,0,4.166666666666667,0,0)">
          <path
            d="M 10.5,21.242v-1.957c0-4.524-6.75-5.775-6.75-14.184V2.655 "
            stroke="#9701ff"
            fill="none"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M 0.75,4.742c0,0,0.15,2.25,3.15,2.437 "
            stroke="#9701ff"
            fill="none"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M 0.75,9.992 c0,0,1.159,2.985,5.244,2.251 "
            stroke="#9701ff"
            fill="none"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M 2.25,15.242c0,0,0.412,3.041,7.213,1.126 "
            stroke="#9701ff"
            fill="none"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M 13.5,21.242v-1.957c0-4.524,6.75-5.775,6.75-14.184V2.655 "
            stroke="#9701ff"
            fill="none"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M 23.25,4.742c0,0-0.15,2.25-3.15,2.437 "
            stroke="#9701ff"
            fill="none"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M 23.25,9.992c0,0-1.159,2.985-5.244,2.251 "
            stroke="#9701ff"
            fill="none"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M 21.75,15.242c0,0-0.412,3.041-7.213,1.126"
            stroke="#9701ff"
            fill="none"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
      </span>
      <span>/></span>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <h1 class="text-4xl">JAMstack_Rennes</h1>
      <h2 class="text-2xl">Meetup le 16 Octobre 2019 (lieu à confirmer)</h2>
      <div class="text-sm text-gray-500 mb-6">🍻 On recherche un bar sympa avec un petite scène par maximiser le contexte sympathique</div>
      <div class="content">
        <p>
          Le 16 octobre 2019 aura lieu à San Francisco la
          <a href="https://jamstackconf.com/">JAMstack_conf</a> organisée par
          Netlify.
        </p>
        <p>
          Mais San Francisco c'est loin et l'avion ça pollue, alors on vous
          propose une rencontre parallèle, mais à Rennes. Consommons local.
        </p>
      </div>
      <div class="title is-4">Pour parler de quoi et avec qui ?</div>
      <div class="flex flex-col mb-4">
        <div class="flex flex-col sm:flex-row p-4 rounded bg-purple-100 my-2">
          <div class="flex items-start w-full sm:w-auto sm:mt-1 sm:mr-2">
            <img
              class="object-scale-down mx-auto rounded"
              src="/avatars/claire.jpg"
              alt="Claire Zuliana Avatar"
            />
          </div>
          <div class="w-full">
            <div class="text-lg font-black mb-4">
              De goHugo avec Claire
            </div>
            <a href="https://www.clairezuliani.com/">Claire Zuliani</a> créé des
            "outils web pour le monde qui vient" et notamment des "sites web
            décroissants (légers, simples, rapides et performants)".
            <br />
            <br />
            Pile la promesse de la JAMStack! Mais est ce que ça colle vraiment ?
            Est ce que le promesse d'un outil comme
            <a href="https://gohugo.io/">Hugo</a> répond aux attentes d'une dev
            comme Claire (et de ses clients)?
            <br />
            <br />
            Elle nous dira ce qu'elle en pense après avoir expérimenté l'outil
            "sur le terrain".
          </div>
        </div>
        <div class="flex flex-col sm:flex-row p-4 rounded bg-purple-100 my-2">
          <div class="flex items-start w-full sm:w-auto sm:mt-1 sm:mr-2">
            <img
              class="object-scale-down mx-auto rounded"
              src="/avatars/yann.jpg"
              alt="Yann Avatar"
            />
          </div>
          <div class="w-full">
            <div class="text-lg font-black mb-4">
              De la JamStack et Blogify avec Yann
            </div>
            <a href="https://twitter.com/yann_yinn">Yann Boisselier</a> va
            débarquer de Nantes (où il a lancé le très intéressant réseau de dev freelances
            <a href="http://popcorn-nantes.github.io">🍿Popcorn nantes</a>).
            <br>
            <br>
            Il va nous faire découvrir le coeur de la JAMStack selon lui (génération de site
            statique par un client JS + APIs), les avantages que ça apporte pour
            un blog et comment gérer son blog avec <a href="https://blogify.io">Blogify</a> (dont il est, aussi, l'auteur)
            <br />
          </div>
        </div>
      </div>
      <div class="title is-4">Quelques liens</div>
      <div class="content">
        <div>
          <a href="https://jamstatic.fr/2019/02/07/c-est-quoi-la-jamstack/"
            >C'est quoi la JAMstack au juste ?</a
          >
        </div>
        <div>
          <a
            href="https://jamstatic.fr/2017/03/16/5-raisons-de-tester-la-jamstack/"
            >Passer au statique : 5 raisons de tester la JAMstack sur votre
            prochain projet</a
          >
        </div>
        <div><a href="https://jamstack.paris/">Jamstack Paris</a></div>
      </div>

      <div class="title is-4">On vous tient au jus ?</div>
      <div class="content">
        <form name="contact" class="form" method="POST" data-netlify="true">
          <p>
            <label
              >Votre email ou twitter ou autre forme de contact:
              <input class="input" type="text" name="name"
            /></label>
          </p>
          <p>
            <label
              >Si vous souhaitez intervenir dites nous en plus ici:
              <textarea class="textarea" name="message"></textarea
            ></label>
          </p>
          <p>
            <button class="button" type="submit">Envoyer</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
