{{ define "main" }}
<div class="section">
    <div class="columns is-centered">
        <div class="column is-three-quarters has-text-centered" style="font-size: 4em;">
               🦌
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            
            <div class="title is-1">JAMstack_Rennes</div>
            <div class="subtitle is-4">Meetup / Conférence le 16 Octobre 2019</div>
            <div class="content">
                <p>
                    Le 16 octobre 2019 aura lieu à San Fransisco la <a href="https://jamstackconf.com/">JAMstack_conf</a> organisée par Netlify.
                </p>
                <p>
                    Mais SF c'est loin et l'avion ça pollue, alors on vous propose une conf parallèle, mais à Rennes. Consommons local.
                </p>
                <p>🌉 🛫</p>
            </div>
            <div class="title is-4">Vous souhaitez venir et/ou y parler ?</div>
            <div class="content">
                <form name="contact" class="form" method="POST" data-netlify="true">
                    <p>
                        <label>Votre nom: <input class="input" type="text" name="name" /></label>   
                    </p>                    
                    <p>
                        <label>Message (n'oubliez pas de nous laisser un moyen de contact): <textarea class="textarea" name="message"></textarea></label>
                    </p>
                    <p>
                        <button class="button" type="submit">Envoyer</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}
